@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 202 80% 16%;
    --card: 0 0% 100%;
    --card-foreground: 202 80% 16%;
    --popover: 0 0% 100%;
    --popover-foreground: 202 80% 16%;
    --primary: 202 80% 16%;
    --primary-foreground: 210 40% 98%;
    --secondary: 199 89% 48%;
    --secondary-foreground: 210 40% 98%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 202 80% 16%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 202 80% 16%;
    --radius: 0.75rem;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }

  .custom-scrollbar::-webkit-scrollbar { 
    width: 5px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #e2e8f0;
    border-radius: 5px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #cbd5e1;
  }
}